{%extends 'base.html'%} {%block head%}
<title>Change Password</title>{%endblock%} {%block body%}
<h2 style="color:black; margin:2rem;" align="center" >Change password</h2>
<div class="container text-center" style=" display:flex; align-items: center; justify-content: center;">
    
    <section style="background: #13232f;
    min-height: 40vh;
    width: 40%;
    border-radius: 2rem;
    display: flex;
    align-items:center;
    justify-content: center;">
    

        <form method="post">
    {% csrf_token %}
    <table align='center'>
    {% for field in form %}
    <tr>
        <td style="color:white;">{{ field.label_tag }}</td>
        <td>{{ field }}</td>
        {% for error in field.errors %}
          <p style="color:white">{{ error }}</p>
        {% endfor %}
    </tr>
    <tr><td>&nbsp;</td></tr>
    {% endfor %}
    </table>
    <br/>
    <button type="submit" class="btn btn-success">Update</button>
  </form>
    </section>
</div>
{%endblock%}