{%extends 'base.html'%}

{% block head %}<title>Resolved</title>
{%endblock%}
{% block body %}
<!-- upload images code  -->
<div class="container" style="margin-top: 1rem;">
  {% for i in lost %}
  {% if forloop.counter0|divisibleby:4 %} <div class="row text-center"> {% endif %}
    <div class="col-md-6">
                <div
                    class="card row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">{{i.author}}</strong>
                        <h6 class="mb-0"><label style="font-weight:600" for="">Lost :</label></h6>
                        <h6 class="mb-1 "><label style="font-weight:600 ;" for="">Date : {{ i.lost_date }} </label></h6>
                        <p class="card-text mb-auto"><label style="font-weight: 600;" for="">Details : </label>{{ i.description }}
                        </p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="img-card-top mx-auto" src="{{ i.lost_image }}" alt="" width="300px" height="200px">
                    </div>
                </div>
            </div>
    {% if forloop.counter|divisibleby:4 or forloop.last %}</div><!-- row closing -->
  <hr>{% endif %}
  {% endfor %}
</div>
{%endblock%}
